In [8]:
a = 3

# 변수

---
- 실수형, 정수형
- str ->  "", ''
- bool -> True, False
- complex -> i 대신 j를 허수부로 쓴다.
---
- 파이썬은 동적타이핑 언어다. 
    - 타입 지정 할 필요 없이 자동 지정된다.
- 글자수 길이 무제한
- 유니코드 가능

In [9]:
a

3

In [13]:
b = 3.14

In [16]:
b

3.14

In [19]:
type(a)

int

In [20]:
type(b)

float

In [24]:
c = "abcdefghijklmnop"
print(c)
type(c)

abcdefghijklmnop

str

In [25]:
d = 'abc'
d, type(d)

('abc', str)

In [28]:
e = False
e, type(e)

(False, bool)

In [29]:
f = 3 + 2j
f, type(f)

((3+2j), complex)

In [34]:
i = 10
j = 20

i + j

30

In [32]:
i = "hello"
j = " world"
i + j

'hello world'

In [37]:
i = 10
j = " world"
i * j

' world world world world world world world world world world'

In [41]:
i123 = 10
type(10), type(float(10))

(int, float)

In [45]:
type(3.14), type(int(3.14)), int(3.14)

(float, int, 3)

In [49]:
str(10), int("10"), float("10")

('10', 10, 10.0)

In [52]:
str(123)

'123'

In [60]:
7 + 3, 7 - 3, 7 * 3, 7 / 3, 7//3, 7%3, 7**2, 7**4, pow(7, 2)

(10, 4, 21, 2.3333333333333335, 2, 1, 49, 2401, 49)

In [62]:
7 > 3, 7 >= 3, 7 <= 3, 7 < 3, 7 == 3, 7 !=3

(True, True, False, False, False, True)

In [65]:
a = None
a

In [67]:
True and True, True and False, False and True, False and False

(True, False, False, False)

In [69]:
True or True, True or False, False or True, False or False

(True, True, True, False)

In [73]:
print("hello \n\tworld")

hello
	world

In [83]:
x = 100
y = x * 10
"합계는 %d 원 입니다." % y

'합계는1000원 입니다.'

In [85]:
"원금은 %d 원이고, 합계는 %d 입니다." % (x, y)

'원금은 100 원이고, 합계는 1000 입니다.'

In [93]:
import time
now = time.localtime()
print("현재 시간은 %d년 %d월 %d일 %d시 %d분 %d초 입니다." % (now.tm_year, now.tm_mon, now.tm_mday, now.tm_hour, now.tm_min, now.tm_sec))

현재 시간은 2020년 1월 21일 16시 20분 25초 입니다.

In [94]:
s = "hello"
len(s)

5

In [95]:
tel = "010-1234-1233"
tel.split("-")

['010', '1234', '1233']

In [96]:
tel2 = tel.split("-")
tel2

['010', '1234', '1233']

In [97]:
"-".join(tel2)

'010-1234-1233'

In [98]:
a = " hello       "
a.strip()

'hello'

In [99]:
a = 10
a
s = "hello"
s

10

In [101]:
mylist = [10, 15, 20, 25]
mylist

[10, 15, 20, 25]

In [102]:
mylist[0]

10

In [103]:
mylist[0:2]

[10, 15]

In [104]:
s[1:3]

'el'

In [105]:
s[:]

'hello'

In [107]:
s[0:4:2]

'hl'

In [108]:
s[-1]

'o'

In [110]:
s[0]

'h'

In [112]:
mylist = list()
mylist

[]

In [115]:
mylist2 = [1,2,3,4,5]
mylist2.insert(2,9)
mylist2

[1, 2, 9, 3, 4, 5]

In [116]:
mylist2.pop(2)

9

In [19]:
dic1 = {'one' : 1, 'two' : 2, 'three' : 3}
dic1

{'one': 1, 'two': 2, 'three': 3}

In [20]:
dic1['two']

2

In [21]:
dic1['one'], dic1['two'], dic1['three']

(1, 2, 3)

In [22]:
dic1['two'] = 9
dic1

{'one': 1, 'two': 9, 'three': 3}

In [25]:
dic1['four'] = 4
dic1

{'one': 1, 'two': 9, 'three': 3, 'four': 4}

In [26]:
dict1.keys()

dict_keys(['one', 'two', 'three'])

In [27]:
dict1.values()

dict_values([1, 9, 3])

In [35]:
A = {'a':90, 'b':80, 'c':70}
A['b']

80

In [36]:
A.pop('b')
A

{'a': 90, 'c': 70}

In [37]:
dict1.update({"five" : 5, "six" : 6})
dict1

{'one': 1, 'two': 9, 'three': 3, 'five': 5, 'six': 6}

In [57]:
b = {3,4,5}
a = {1,2,3}
a - b

{1, 2}

In [58]:
a ^ b

{1, 2, 4, 5}

In [59]:
a.remove(2)
a

{1, 3}

In [88]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
a = "Hello python"
b = "Funny programming"
c = "Happy newyear"
result = set(a) & set(b) & set(c)
result.remove(' ')
result

{'n', 'p', 'y'}